* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v339_3 {
  width: 100%;
  height: 809px;
  background: rgba(3,5,2,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v358_36 {
  width: 100%;
  height: 809px;
  background: url("../images/v358_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v339_17 {
  width: 72px;
  color: rgba(234,252,211,1);
  position: absolute;
  top: 29px;
  left: 238px;
  font-family: Bebas Neue Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v339_18 {
  width: 86px;
  color: rgba(234,252,211,1);
  position: absolute;
  top: 29px;
  left: 351px;
  font-family: Bebas Neue Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v339_19 {
  width: 80px;
  color: rgba(234,252,211,1);
  position: absolute;
  top: 28px;
  left: 1002px;
  font-family: Bebas Neue Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v339_20 {
  width: 83px;
  color: rgba(234,252,211,1);
  position: absolute;
  top: 28px;
  left: 1122px;
  font-family: Bebas Neue Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v358_34 {
  width: 84px;
  height: 42px;
  background: url("../images/v358_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 678px;
  overflow: hidden;
}
.v339_44 {
  width: 496px;
  color: rgba(234,252,211,1);
  position: absolute;
  top: 520px;
  left: 471px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v358_29 {
  width: 104px;
  height: 52px;
  background: url("../images/v358_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 1288px;
  overflow: hidden;
}
.v358_31 {
  width: 59px;
  height: 59px;
  background: url("../images/v358_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 738px;
  overflow: hidden;
}
.v358_30 {
  width: 43px;
  height: 43px;
  background: url("../images/v358_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 753px;
  left: 709px;
  overflow: hidden;
}
.v358_33 {
  width: 100%;
  height: 42px;
  background: url("../images/v358_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 735px;
  left: 17px;
  overflow: hidden;
}
.v360_37 {
  width: 514px;
  height: 447px;
  background: url("../images/v360_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 452px;
  overflow: hidden;
}
